  <a href="{{ root_url }}/"><img alt="Redgear" src="/images/redgear.png" style="float:left" /></a>
	<div id="header">
		<div class="inside">
		  <!-- <div id="search">
				<form method="get" id="sform" action="#">
 					<div class="searchimg"></div>
					<input type="text" id="q" value="" name="q" size="15" />
				</form>
			</div> -->

			<h2 style="color: #FFF7D8"><a href="/">SLACKWORKS / BLARG</a></h2>
		</div>
	</div>
<hgroup>
</hgroup>

<hgroup>
<div id="primary" class="single-post">
  <div class="inside">
    <div class="sitesummary">
      <!-- <p>Innovation through laziness and hubris.</p> -->
      <p>
        Making today worse so tomorrow seems better.
      </p>
    </div>
    <div class="primary">
      <script src="/javascripts/sh_main.min.js" type="text/javascript"></script>
      <script src="/javascripts/sh_ruby.min.js" type="text/javascript"></script>
    </div>
  </div>
</div><!-- #primary -->
</hgroup>